@using System.Collections
@using System.Globalization
@using System.Web.Mvc.Html
@using Studynung.ContentPicker
@using Studynung.Controllers
@using Studynung.ProtectiveEarthing.Logic.Items
@model List<Studynung.Database.User>
@{
    BaseItem[] countGrounding = ViewBag.CountGrounding;
    BaseItemWithImage[] placementElectrodes = ViewBag.PlacementElectrodes;
    BaseItemWithImage[] groundDeviceTypes = ViewBag.GroundDeviceTypes;
    BaseItem[] locationElectrodes = ViewBag.LocationElectrodes;
    BaseItem[] materials = ViewBag.Materials;
    List<Studynung.ProtectiveEarthing.Items.ProfileSection> profileSections = ViewBag.ProfileSections;
    BaseItem[] typeSoils = ViewBag.TypeSoils;
    ResistivitySoil[] resistivitySoils = ViewBag.ResistivitySoils;
    BaseItem[] typeElectrode = ViewBag.TypeElectrode;
    BaseItem[] verticalLengthElectrode = ViewBag.VerticalLengthElectrode;
    BaseItem[] horizontalLengthElectrode = ViewBag.HorizontalLengthElectrode;
    BaseItem[] heaven = ViewBag.Heaven;
    BaseItem[] humidity = ViewBag.Humidity;
    GroundItem[] groundItems = ViewBag.GroundItems;
    int s = 0;
}

<head>
    <title>Home</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <form>
        <fieldset>
            <legend>Вибір максимально допустимого опору:</legend>
            Виберіть Rдоп: @Html.ContentPicker("PcHaracteristic", ConvertHelper.ConvertBaseItem(countGrounding))<br>
        </fieldset>
    </form>

    <form>
        <fieldset>
            Виберіть вид заземлювачів(залежно від кількості електродів):
            @Html.ContentPicker("PcCountGrounding", ConvertHelper.ConvertBaseItem(countGrounding), "contentPicker.pcCountGroundingSelected")
            <br />
            <div class="div-blocks groupGrounding">
                Виберіть спосіб розміщення електродів:
                @Html.ContentPicker("PcFirstPlacementElectrodes", ConvertHelper.ConvertBaseItemWithImage(placementElectrodes), "contentPicker.pcFirstPlacementElectrodesSelected")
                <br />
            </div>
            <div class="div-blocks groupGrounding">
                Виберіть тип заземлюваного пристрою:
                @Html.ContentPicker("PcGroundDeviceType", ConvertHelper.ConvertBaseItemWithImage(groundDeviceTypes), "contentPicker.pcGroundDeviceTypeSelected")
                <br />
            </div>
            Виберіть тип розташування електродів:
            @Html.ContentPicker("PcLocationElectrodes", ConvertHelper.ConvertBaseItem(locationElectrodes), "contentPicker.pcLocationElectrodesTypeSelected")
        </fieldset>
    </form>

    @*Визначаємо геометричні розміри та матеріал електродів*@
    <form>
        <fieldset>
            <legend> Найменші розміри заземлювачів і заземлювальних провідників </legend>
            @*Матеріал*@
            Виберіть матеріал:
            @Html.ContentPicker("PcMaterial", ConvertHelper.ConvertBaseItem(materials), "contentPicker.pcMaterialSelected")

            @*Профіль перерізу для матеріалу*@
            Виберіть профіль перерізу:
            @Html.ContentPicker("PcProfileSections", ConvertHelper.ConvertProfileSection(profileSections), "contentPicker.pcProfileSectionsSelected", "contentPicker.pcProfileSectionsClick")

            <div>
                Діаметр: <input type="text" id="txtDiameter" />
                <br />
                Товщина стінки: <input type="text" id="txtThickness" />
                <br />
                Площа поперечного перерізу: <input type="text" id="txtSquare" />
            </div>
        </fieldset>
    </form>

    @*Вибираємо питомий опір грунту*@
    <form>
        <fieldset>
            <legend> Вибір табличного значення питомого опору ґрунту </legend>
            @*Тип ґрунту*@
            Виберіть тип ґрунту:
            @Html.ContentPicker("PcTypeSoils", ConvertHelper.ConvertBaseItem(typeSoils), "contentPicker.pcTypeSoilsSelected")

            @*Питомий опір ґрунту*@
            Виберіть питомий опір ґрунту:
            @Html.ContentPicker("PcResistivitySoils", ConvertHelper.ConvertResistivitySoil(resistivitySoils),
                              "contentPicker.pcResistivitySoils")
        </fieldset>
    </form>

    @*Знаходження коефіцієнта сезонності*@
    <form>
        <fieldset>
            <legend>Визначення коефіцієнта сезонності</legend>
            <table>
                <tbody>
                    @*Виберіть тип електрода*@
                    <tr>
                        <td>
                            Виберіть тип електрода: @Html.ContentPicker("PcFirstTypeElectrode", ConvertHelper.ConvertBaseItem(typeElectrode), "contentPicker.pcFirstTypeElectrodeSelected")
                        </td>
                        <td class="groupGrounding">
                            Виберіть тип електрода: @Html.ContentPicker("PcSecondTypeElectrode", ConvertHelper.ConvertBaseItem(typeElectrode), "contentPicker.pcSecondTypeElectrodeSelected")
                        </td>
                    </tr>
                    @*Довжина електрода*@
                    <tr>
                        <td>
                            Виберіть довжину електрода: @Html.ContentPicker("PcFirstLengthElectrode", ConvertHelper.ConvertBaseItem(verticalLengthElectrode), "contentPicker.pcFirstLengthElectrodeSelected")
                        </td>
                        <td class="groupGrounding">
                            Виберіть довжину електрода: @Html.ContentPicker("PcSecondLengthElectrode", ConvertHelper.ConvertBaseItem(horizontalLengthElectrode), "contentPicker.pcSecondLengthElectrodeSelected")
                        </td>
                    </tr>
                </tbody>
            </table>
            @*Кліматична зона*@
            Виберіть кліматичну зону: @Html.ContentPicker("PcHeaven", ConvertHelper.ConvertBaseItem(heaven), "contentPicker.pcHeaven") <br />
            @*Вологість землі*@
            Виберіть вологість землі: @Html.ContentPicker("PcHumidity", ConvertHelper.ConvertBaseItem(humidity), "contentPicker.pcHumidity") <br />
        </fieldset>
    </form>

    @*Вибір формули для розрахунку опору розтіканню струму (Таблиця 6)*@
    <form>
        <fieldset>
            <legend> Вибір формули для розрахунку опору розтіканню струму </legend>
            <table>
                <tbody>
                    <tr>
                        @*Тип заземлювача*@
                        <td>
                            Виберіть тип електрода: @Html.ContentPicker("PcFirstGroundItemType", groundItems.ConvertGroundItemWithScheme(), "contentPicker.pcFirstGroundItemType")
                        </td>
                        <td class="groupGrounding">
                            Виберіть тип електрода: @Html.ContentPicker("PcSecondGroundItemType", groundItems.ConvertGroundItemWithScheme(), "contentPicker.pcSecondGroundItemType")
                        </td>
                    </tr>
                    <tr>
                        @*Формула розрахунку*@
                        <td>
                            Виберіть тип електрода: @Html.ContentPicker("PcFirstFormula", groundItems.ConvertGroundItemWithFormula(), "contentPicker.pcFirstFormula")
                        </td>
                        <td class="groupGrounding">
                            Виберіть тип електрода: @Html.ContentPicker("PcSecondFormula", groundItems.ConvertGroundItemWithFormula(), "contentPicker.pcSecondFormula")
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>

    <input type="button" value="Calculate" />
    <script>
        $(document).ready(function () {
            contentPicker.init();
        });
    </script>
</body>
