@using System.Collections
@using System.Globalization
@using System.Web.Mvc.Html
@using Studynung.ContentPicker
@using Studynung.Controllers
@using Studynung.Helpers
@using Studynung.ProtectiveEarthing.Logic.Items
@model List<Studynung.Database.User>
@{
    BaseItem[] countGrounding = ViewBag.CountGrounding;
    BaseItemWithImage[] placementElectrodes = ViewBag.PlacementElectrodes;
    BaseItemWithImage[] groundDeviceTypes = ViewBag.GroundDeviceTypes;
    BaseItem[] locationElectrodes = ViewBag.LocationElectrodes;
    BaseItem[] materials = ViewBag.Materials;
    List<Studynung.ProtectiveEarthing.Items.ProfileSection> profileSections = ViewBag.ProfileSections;
    BaseItem[] typeSoils = ViewBag.TypeSoils;
    ResistivitySoil[] resistivitySoils = ViewBag.ResistivitySoils;
    BaseItem[] typeElectrode = ViewBag.TypeElectrode;
    BaseItem[] verticalLengthElectrode = ViewBag.VerticalLengthElectrode;
    BaseItem[] horizontalLengthElectrode = ViewBag.HorizontalLengthElectrode;
    BaseItem[] heaven = ViewBag.Heaven;
    BaseItem[] humidity = ViewBag.Humidity;
    GroundItem[] groundItems = ViewBag.GroundItems;
    BaseItem[] ratioDistanceWithLength = ViewBag.RatioDistanceWithLength;
    int labResultId = ViewBag.LaboratoryResultId;
    int s = 0;
}

<head>
    <title>Home</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>
<body>
    <input id="labsResultId" type="hidden" value="@labResultId"/>
    <form>
        <fieldset>
            <legend>Вибір максимально допустимого опору:</legend>
            Виберіть Rдоп: @Html.ContentPickerCustom("PcHaracteristic", ContentHelper.HaracteristicTable)<br>
            <div style="display: none" id="divIz">
                @*<br />*@
                Введіть значення Із: <input type="text" id="txtIz" />
                <input type="button" id="btnIzSubmit" value="Розрахувати Rдоп" />
                <input type="hidden" id="hiddenIz" />
            </div>
        </fieldset>
    </form>

    <form>
        <fieldset>
            Виберіть вид заземлювачів(залежно від кількості електродів):
            @Html.ContentPickerStandart("PcCountGrounding", ConvertHelper.ConvertBaseItem(countGrounding), "contentPicker.pcCountGroundingSelected")
            <br />
            <div class="div-blocks groupGrounding">
                Виберіть спосіб розміщення електродів:
                @Html.ContentPickerStandart("PcFirstPlacementElectrodes", ConvertHelper.ConvertBaseItemWithImage(placementElectrodes), "contentPicker.pcFirstPlacementElectrodesSelected")
                <br />
            </div>
            <div class="div-blocks groupGrounding">
                Виберіть тип заземлюваного пристрою:
                @Html.ContentPickerStandart("PcGroundDeviceType", ConvertHelper.ConvertBaseItemWithImage(groundDeviceTypes), "contentPicker.pcGroundDeviceTypeSelected")
                <br />
            </div>
            Виберіть тип розташування електродів:
            @Html.ContentPickerStandart("PcLocationElectrodes", ConvertHelper.ConvertBaseItem(locationElectrodes), "contentPicker.pcLocationElectrodesTypeSelected")
        </fieldset>
    </form>

    @*Визначаємо геометричні розміри та матеріал електродів*@
    <form>
        <fieldset>
            <legend> Найменші розміри заземлювачів і заземлювальних провідників </legend>
            @*Матеріал*@
            Виберіть матеріал:
            @Html.ContentPickerStandart("PcMaterial", ConvertHelper.ConvertBaseItem(materials), "contentPicker.pcMaterialSelected")

            @*Профіль перерізу для матеріалу*@
            Виберіть профіль перерізу:
            @Html.ContentPickerStandart("PcProfileSections", ConvertHelper.ConvertProfileSection(profileSections), "contentPicker.pcProfileSectionsSelected", "contentPicker.pcProfileSectionsClick")

            <div>
                Діаметр: <input type="text" id="txtDiameter" />
                <br />
                Товщина стінки: <input type="text" id="txtThickness" />
                <br />
                Площа поперечного перерізу: <input type="text" id="txtSquare" />
            </div>
        </fieldset>
    </form>

    @*Вибираємо питомий опір грунту*@
    <form>
        <fieldset>
            <legend> Вибір табличного значення питомого опору ґрунту </legend>
            @*Тип ґрунту*@
            Виберіть тип ґрунту:
            @Html.ContentPickerStandart("PcTypeSoils", ConvertHelper.ConvertBaseItem(typeSoils), "contentPicker.pcTypeSoilsSelected")

            @*Питомий опір ґрунту*@
            Виберіть питомий опір ґрунту:
            @Html.ContentPickerStandart("PcResistivitySoils", ConvertHelper.ConvertResistivitySoil(resistivitySoils),
                "contentPicker.pcResistivitySoils")
        </fieldset>
    </form>

    @*Знаходження коефіцієнта сезонності*@
    <form>
        <fieldset>
            <legend>Визначення коефіцієнта сезонності</legend>
            <table>
                <tbody>
                    @*Виберіть тип електрода*@
                    <tr>
                        <td>
                            Виберіть тип електрода: @Html.ContentPickerStandart("PcFirstTypeElectrode", ConvertHelper.ConvertBaseItem(typeElectrode), "contentPicker.pcFirstTypeElectrodeSelected")
                        </td>
                        <td class="groupGrounding">
                            Виберіть тип електрода: @Html.ContentPickerStandart("PcSecondTypeElectrode", ConvertHelper.ConvertBaseItem(typeElectrode), "contentPicker.pcSecondTypeElectrodeSelected")
                        </td>
                    </tr>
                    @*Довжина електрода*@
                    <tr>
                        <td>
                            Виберіть довжину електрода: @Html.ContentPickerStandart("PcFirstLengthElectrode", ConvertHelper.ConvertBaseItem(verticalLengthElectrode), "contentPicker.pcFirstLengthElectrodeSelected")
                        </td>
                        <td class="groupGrounding">
                            Виберіть довжину електрода: @Html.ContentPickerStandart("PcSecondLengthElectrode", ConvertHelper.ConvertBaseItem(horizontalLengthElectrode), "contentPicker.pcSecondLengthElectrodeSelected")
                        </td>
                    </tr>
                </tbody>
            </table>
            @*Кліматична зона*@
            Виберіть кліматичну зону: @Html.ContentPickerStandart("PcHeaven", ConvertHelper.ConvertBaseItem(heaven), "contentPicker.pcHeaven") <br />
            @*Вологість землі*@
            Виберіть вологість землі: @Html.ContentPickerStandart("PcHumidity", ConvertHelper.ConvertBaseItem(humidity), "contentPicker.pcHumidity") <br />
        </fieldset>
    </form>

    @*Вибір формули для розрахунку опору розтіканню струму (Таблиця 6)*@
    <form>
        <fieldset>
            <legend> Вибір формули для розрахунку опору розтіканню струму </legend>
            <table>
                <tbody>
                    <tr>
                        @*Тип заземлювача*@
                        <td>
                            Виберіть тип електрода: @Html.ContentPickerStandart("PcFirstGroundItemType", groundItems.ConvertGroundItemWithScheme(), "contentPicker.pcFirstGroundItemType")
                        </td>
                        <td class="groupGrounding">
                            Виберіть тип електрода: @Html.ContentPickerStandart("PcSecondGroundItemType", groundItems.ConvertGroundItemWithScheme(), "contentPicker.pcSecondGroundItemType")
                        </td>
                    </tr>
                    <tr>
                        @*Формула розрахунку*@
                        <td>
                            Виберіть формулу розрахунку: @Html.ContentPickerStandart("PcFirstFormula", groundItems.ConvertGroundItemWithFormula(), "contentPicker.pcFirstFormula")
                        </td>
                        <td class="groupGrounding">
                            Виберіть формулу розрахунку: @Html.ContentPickerStandart("PcSecondFormula", groundItems.ConvertGroundItemWithFormula(), "contentPicker.pcSecondFormula")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Введіть значення t0: <input type="text" id="txtT0" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>

    @*Continue part*@
    <div id="div-continue" class="hideContinue">
        Виберіть відношення відстаней між електродами до їх довжини: @Html.ContentPickerStandart("PcRatioDistanceWithLength", ConvertHelper.ConvertBaseItem(ratioDistanceWithLength),
                                                                         "contentPicker.pcRatioDistanceWithLengthSelected")
    </div>
    <br />
    <div id="footer">
        <div>
            <ul class="tabs">
                <li><a href="#showResult">Результати</a></li>
                <li><a href="#showErrors">Помилки</a></li>
            </ul>
            <div id="showResult">
                <textarea id="area-result" style="height: 200px; width: 950px"></textarea>
            </div>
            <div id="showErrors">
                <textarea id="area-errors" style="height: 200px; width: 950px">111111111111111243</textarea>
            </div>
        </div>
    </div>
    <script>
        $(".tabs").tabs();
        $(document).ready(function () {
            contentPicker.init();

            // for tabs
            $('ul.tabs').each(function () {
                // For each set of tabs, we want to keep track of
                // which tab is active and it's associated content
                var $active, $content, $links = $(this).find('a');

                // If the location.hash matches one of the links, use that as the active tab.
                // If no match is found, use the first link as the initial active tab.
                $active = $($links.filter('[href="' + location.hash + '"]')[0] || $links[0]);
                $active.addClass('active');

                $content = $($active[0].hash);

                // Hide the remaining content
                $links.not($active).each(function () {
                    $(this.hash).hide();
                });

                // Bind the click event handler
                $(this).on('click', 'a', function (e) {
                    // Make the old tab inactive.
                    $active.removeClass('active');
                    $content.hide();

                    // Update the variables with the new link and content
                    $active = $(this);
                    $content = $(this.hash);

                    // Make the tab active.
                    $active.addClass('active');
                    $content.show();

                    // Prevent the anchor's default click action
                    e.preventDefault();
                });
            });
        });
    </script>
</body>
<footer style="height: 175px"></footer>